<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Loan Department">
    <test name="Personal Loan">
    <classes>
    <class name="day1">
        <methods>
            <include name="Demo"/>
        </methods>
    </class>

    <class name="day2"/>
    <class name="day4"/>
    </classes>
    </test>

    <test name = "Car Loan">

    <classes>

        <class name="day3">
            <methods>
                <exclude name="API.*"/>
            </methods>
    </class>

      </classes>
    </test>
     </suite>
